<%- include('header') %>
<!-- 文章列表 -->
<div class="post-list">
    <div class="post-cell">
        <a href="#" class="gravatar">
<img src="http://img.25pp.com/uploadfile/app/icon/20151007/1444161882126152.jpg@140w_140h " alt="头像">
        </a>
        <div class="post-infor">
            <a href="/post/test"><div class="title">我的第一个Blog</div></a>
            <div class="edit-date visible-lg-inline-block">2017-8-9</div>
        </div>
    </div>
</div>
<%- include('footer') %>
